html{
    font size : 22px
}
body{
    background-color : rgb(236, 247, 174);
    colour : #f50e0e;
}
h1{
    color :red ; font-size : 52px
}
h2{
    color :rgb(75, 3, 3) ; font-size : 32px
}
a{
    color : hwb(0 2% 98%);
}
a:visited{
    color : orange;
}
a:hover{
    color : hwb(312 22% 15%);
}
table, tr, th, td{
    border : 1px solid rgb(75, 3, 3);
    border-collapse : collapse;
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5rem;
}
li{
    list-style-type : circle;
}
.error{
    color : red;
}